.header {
  font-family: 'Montserrat', sans-serif;
  width: 100vw;
  height: 80px;
  background-color: black;
  z-index: 1;
}

.nav-container {
  margin: 0 22px;
  height: 100%;
}

.nav {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 20px;
}

.item a,
.item .btn {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-bottom: 10px;
}

.item a.active {
  border-bottom: 1px solid #ffffff;
}

.logo {
  margin-right: 150px;
}

.logo a {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 3px;
}

.userIcon {
  font-size: 15px;
  margin-left: auto;
}

.right {
  margin-left: auto;
}

.logoutBtn {
  border: none;
  background: transparent;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}

.appsBtn button {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 1.4rem;
  padding: .6rem 1.7rem;
  font-size: 1.2rem;
  letter-spacing: .1rem;
  cursor: pointer;
}

.appsBtn button::after {
  content: ' ';
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform-origin: center;
  transform: rotate(135deg) translateX(-4px);
}

.dialog {
  position: fixed;
  inset: 0;
  z-index: 10;
}

.dialog .dialogBackdrop {
  position: absolute;
  z-index: 20;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.dialog .dialogContainer {
  padding: 3rem 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
  position: absolute;
  width: 50vw;
  height: 90vh;
  background-color: #fff;
  border-radius: 0.2rem;
}

.dialog .dialogContainer .closeBtn {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: 'Varela Round', sans-serif;
  cursor: pointer;
}

.dialog .dialogData {
  height: 100%;
  overflow-y: auto;
}

.dialog .dialogData::-webkit-scrollbar {
  height: 1px;
  width: 5px;
}

.dialog .dialogData::-webkit-scrollbar-thumb {
  background: #a3a3a3;
}

.dialog .dialogData::-webkit-scrollbar-track {
  background: var(--white);
}

.dialog .dialogData ul li {
  border-bottom: 1px solid #a3a3a3;
  padding: .5rem 0;
  padding-left: 3rem;
}


.dialog .dialogData ul li span {
  cursor: pointer;
}

.dialog .dialogData ul li span:hover {
  border-bottom: 1px solid black;
}

.dialog .dialogData ul li:first-child {
  font-size: 1.3rem;
  font-weight: 600;
}


@media (width < 500px) {
  .header {
    overflow-x: scroll;
  }
  .logo {
    margin-right: 10px;
  }

  .item a,
  .item .btn {
    font-size: 12px;
  }
}
